<a href="https://colab.research.google.com/github/cantstopthefuture/pythonbasic/blob/main/Basics_%26_Data_Structures_Quiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Basics & Data Structures Quiz

## Test your knowledge. 

*Answer the following questions*

Write a brief description of all the following Object Types and Data Structures we've learned about:

Numbers:What are numbers in Python?
Python supports integers, floating-point numbers and complex numbers. They are defined as int , float , and complex classes in Python. Integers and floating points are separated by the presence or absence of a decimal point. For instance, 5 is an integer whereas 5.0 is a floating-point number.

Strings: Strings are sequences of character data. The string type in Python is called str . ... >>> print("This string contains a single quote (') character.") This string contains a single quote (') character. >>> print('This string contains a double quote (") character.

Lists: In Python, lists are represented by square brackets. Therefore, we create a list as follows. The above list, colors is stored in memory as shown below. We can also create a list that contains multiple data types, like strings, integers, and floats.

Tuples:Python tuples are a data structure that store an ordered sequence of values. Tuples are immutable. This means you cannot change the values in a tuple. ... They let you store an ordered sequence of items. For example, you may use a tuple to store a list of employee names.

Dictionaries:

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

*Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25*

In [ ]:
x = 1.25 + (5**2*8/2) - 1
print(x)
100.25

Explain what the cell below will produce and why. Can you change it so the answer is correct?

In [ ]:
2/3

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)
    
    What is the value of the expression 4 * 6 + 5 
    
    What is the value of the expression 4 + 6 * 5

In [ ]:
What is the value of the expression 4 * (6 + 5) - 44
What is the value of the expression 4 * 6 + 5 - 29
What is the value of the expression 4 + 6 * 5 - 34

What is the *type* of the result of the expression 3 + 1.5 + 4?

In [ ]:
<br><br> - float

What would you use to find a numberâ€™s square root, as well as its square?

In [ ]:
# Square root:

## Strings

Given the string 'hello' give an index command that returns 'e'. Use the code below:

In [ ]:
s = 'hello'
# Print out 'e' using indexing

# Code here

Reverse the string 'hello' using indexing:

In [ ]:
s ='hello'

# Reverse the string using indexing

# Code here

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [ ]:
s ='hello'

# Print out the

# Code here

## Lists

Build this list [0,0,0] two separate ways.

In [ ]:
# Method 1:
mylist = [0,0,0]

Reassign 'hello' in this nested list to say 'goodbye' item in this list:

In [ ]:
l = [1,2,[3,4,'hello']]

Sort the list below:

In [ ]:
l = [5,3,4,6,1]

In [ ]:
list4 = [5,3,4,6,1]
list4.sort()
print(list4)
[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [ ]:
d = {'simple_key':'hello'}
# Grab 'hello'

In [ ]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'

In [ ]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello

In [ ]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

Can you sort a dictionary? Why or why not?

In [ ]:
Dictionaries are mappings not sequences. so cant be orderded

## Tuples

What is the major difference between tuples and lists?

In [ ]:
<br><br> tuples immutable.

How do you create a tuple?

In [ ]:
<br><br> parantheses cruve brackets

## Sets

What is unique about a set?

In [ ]:
<br><br> only one item of each

<br><br> only one item of each

Use a set to find the unique values of the list below:

In [ ]:
l = [1,2,2,33,4,4,11,22,3,3,2]

## Booleans

For the following quiz questions, we will get a preview of comparison operators:

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
</tr>
<tr>
<td>&lt;&gt;</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a &lt;&gt; b) is true. This is similar to != operator.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [ ]:
# Answer before running cell
2 > 3

In [ ]:
# Answer before running cell
3 <= 2

In [ ]:
# Answer before running cell
3 == 2.0

In [ ]:
# Answer before running cell
3.0 == 3

In [ ]:
# Answer before running cell
4**0.5 != 2

Final Question: What is the boolean output of the cell block below?

In [ ]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

#True or False?
l_one[2][0] >= l_two[2]['k1']

## Cheers!