<a href="https://colab.research.google.com/github/cantstopthefuture/pythonbasic/blob/main/rapid_fire.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1. What do I Want
# stating the problem

# What do i need?
# Design your problem solution (Algotrithm)

# What do I have?
# This is data provided by either the problem itself or assumed data.

In [ ]:
Return the count of a given substring


I want to get any substring and the get a subset of it then count the length


I need a string on any form. and then i would take the length of it using the len ()function.
len(strg2)
len(strg3)
len(strg0)

I can just make a string myself. or ask the user for something.
strg0 = input('tell me something: ')
strg01 = strg0[-1:4]
strg = 'Any string'
strg2 ='Any'
strg3 = srtg[1:5]

In [1]:
strg0 = input('tell me something: ')
strg01 = strg0[-1:4]
strg = 'Any string'
strg2 ='Any'
strg3 = srtg[1:5]

1

In [ ]:
strg0 = input('tell me something:')
strg01 = strg0[-1:4]
print(f'The user ')

In [ ]:
Display numbers divisible by 5 from a list.

What do I want?
Numbers divisible by 5

What do I need?
A list of numbers

What do I have?
I have a list

num[11, 56, 78, 4, 55, 70, 39, 56, 21, 20, 15]
print(f'Given my list: {numbers}')
print('numbers divisible by 5 from the list are: ')
for i in num:
  if i % 5 == 0:
    print(i)

In [5]:
num = [11, 56, 78, 4, 55, 70, 39, 56, 21, 20, 15]
print(f'Given my list: {num}')
print('numbers divisible by 5 from the list are: ')
for i in num:
  if i % 5 == 0:
    print(i)

Given my list: [11, 56, 78, 4, 55, 70, 39, 56, 21, 20, 15]
numbers divisible by 5 from the list are:
55
70
20
15

In [ ]:
Check if the first and last number of a list is the same

In [7]:
num = [2, 4, 6, 23, 5, 6, 78, 98, 654, 86, 345, 68, 34, 4]

first = num[0]
last = num[-1]

if first == last:
  print(True')
else:
  print('False')

SyntaxError: ignored

In [ ]:
#This program prints or generates multiplication table of number 1 to 10 in Python language.
Generate multiplication table of number 1 to 10 using for loop.

In [8]:
for i in range(1,11):
    print("\n\nMULTIPLICATION TABLE FOR %d\n" %(i))
    for j in range(1,11):
        print("%-5d X %5d = %5d" % (i, j, i*j))

MULTIPLICATION TABLE FOR 1

1     X     1 =     1
1     X     2 =     2
1     X     3 =     3
1     X     4 =     4
1     X     5 =     5
1     X     6 =     6
1     X     7 =     7
1     X     8 =     8
1     X     9 =     9
1     X    10 =    10


MULTIPLICATION TABLE FOR 2

2     X     1 =     2
2     X     2 =     4
2     X     3 =     6
2     X     4 =     8
2     X     5 =    10
2     X     6 =    12
2     X     7 =    14
2     X     8 =    16
2     X     9 =    18
2     X    10 =    20


MULTIPLICATION TABLE FOR 3

3     X     1 =     3
3     X     2 =     6
3     X     3 =     9
3     X     4 =    12
3     X     5 =    15
3     X     6 =    18
3     X     7 =    21
3     X     8 =    24
3     X     9 =    27
3     X    10 =    30


MULTIPLICATION TABLE FOR 4

4     X     1 =     4
4     X     2 =     8
4     X     3 =    12
4     X     4 =    16
4     X     5 =    20
4     X     6 =    24
4     X     7 =    28
4     X     8 =    32
4     X     9 =    36
4     X    10 =    40


MULTIPLICATION TABLE FOR 5

5     X     1 =     5
5     X     2 =    10
5     X     3 =    15
5     X     4 =    20
5     X     5 =    25
5     X     6 =    30
5     X     7 =    35
5     X     8 =    40
5     X     9 =    45
5     X    10 =    50


MULTIPLICATION TABLE FOR 6

6     X     1 =     6
6     X     2 =    12
6     X     3 =    18
6     X     4 =    24
6     X     5 =    30
6     X     6 =    36
6     X     7 =    42
6     X     8 =    48
6     X     9 =    54
6     X    10 =    60


MULTIPLICATION TABLE FOR 7

7     X     1 =     7
7     X     2 =    14
7     X     3 =    21
7     X     4 =    28
7     X     5 =    35
7     X     6 =    42
7     X     7 =    49
7     X     8 =    56
7     X     9 =    63
7     X    10 =    70


MULTIPLICATION TABLE FOR 8

8     X     1 =     8
8     X     2 =    16
8     X     3 =    24
8     X     4 =    32
8     X     5 =    40
8     X     6 =    48
8     X     7 =    56
8     X     8 =    64
8     X     9 =    72
8     X    10 =    80


MULTIPLICATION TABLE FOR 9

9     X     1 =     9
9     X     2 =    18
9     X     3 =    27
9     X     4 =    36
9     X     5 =    45
9     X     6 =    54
9     X     7 =    63
9     X     8 =    72
9     X     9 =    81
9     X    10 =    90


MULTIPLICATION TABLE FOR 10

10    X     1 =    10
10    X     2 =    20
10    X     3 =    30
10    X     4 =    40
10    X     5 =    50
10    X     6 =    60
10    X     7 =    70
10    X     8 =    80
10    X     9 =    90
10    X    10 =   100

In [ ]:
Display the current date and time

In [9]:
import datetime
now = datetime.datetime.now()
print ("Current date and time : ")
print (now.strftime("%Y-%m-%d %H:%M:%S"))

Current date and time :
2021-11-12 17:26:15

#The datetime module supplies classes for manipulating dates and times in both simple and complex ways. datetime.now(tz=None) returns the current local date and time. If optional argument tz is None or not specified, this is like today().

#Print first and last name in reverse order with a space between them.

In [10]:
fname = input("Input your First Name : ")
lname = input("Input your Last Name : ")
print ("Hello  " + lname + " " + fname)

Input your First Name : Allen
Input your Last Name : Gotkin
Hello  Gotkin Allen

#Display the first and last color from a given list

In [11]:
color_list = ["Red","Green","White" ,"Black"]
print( "%s %s"%(color_list[0],color_list[-1]))

Red Black

In [12]:
color_list = ["Red","Green","White" ,"Black"]

In [ ]:
Input an integer (n) and computes the value of n+nn=nn

In [13]:
a = int(input("Input an integer : "))
n1 = int( "%s" % a )
n2 = int( "%s%s" % (a,a) )
n3 = int( "%s%s%s" % (a,a,a) )
print (n1+n2+n3)

Input an integer : 5
615

In [ ]:
The function returns an integer object constructed from a number or string x, or return 0 if no arguments are given. If x is a number, return x.__int__(). For floating point numbers, this truncates towards zero.

If x is not a number or if base is given, then x must be a string, bytes, or bytearray instance representing an integer literal in radix base
The literal can be preceded by + or - (with no space in between) and surrounded by whitespace
A base-n literal consists of the digits 0 to n-1, with a to z (or A to Z) having values 10 to 35. The default base is 10.
The allowed values are 0 and 2-36. Base-2, -8, and -16 literals can be optionally prefixed with 0b/0B, 0o/0O, or 0x/0X, as with integer literals in code.

In [ ]:
Write a python script to print the calender of a given month and year

In [15]:
import calendar
y = int(input("Input the year : "))
m = int(input("Input the month : "))
print(calendar.month(y, m))

Input the year : 2021
Input the month : 11
   November 2021
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30

In [ ]:
Python calendar.month(theyear, themonth, w=0, l=0):

The function returns a month’s calendar in a multi-line string using the formatmonth() of the TextCalendar class.

'l' specifies the number of lines that each week will use.

In [16]:
pi = 3.1415926535897931
r= 6.0
V= 4.0/3.0*pi* r**3

In [ ]:
Write a python script to find whether a given number (accept from the user) is even or odd.

In [17]:
num = int(input("Enter a number: "))  
if (num % 2) == 0:  
   print("{0} is Even number".format(num))  
else:  
   print("{0} is Odd number".format(num))

Enter a number: 6
6 is Even number

In [ ]:
Python: Volume of a Sphere

A sphere is a three-dimensional solid with no face, no edge, no base and no vertex. It is a round body with all points on its surface equidistant from the center. The volume of a sphere is measured in cubic units.

The volume of the sphere is : V = 4/3 × π × r3 = π × d3/6.

In [ ]:
Write a python program to count the number 7 in a given list.

In [ ]:
Def list_count_79nums):
  count = 0 
  for num in nums:
    if num == 7:
      count = count + 1

      return count

#A script that will accept the base and height of a triangle and compute the area.

In [21]:
b = int(input("Input the base : "))
h = int(input("Input the height : "))

area = b*h/2

print("area = ", area)

Input the base : 35
Input the height : 85
area =  1487.5

In [ ]:
# Python Program to find Area of a Triangle using base and height
def area_of_triangle(base, height):
    return (base * height) / 2

base = float(input('Please Enter the Base of a Triangle: '))
height = float(input('Please Enter the Height of a Triangle: '))

# calculate the area
area = area_of_triangle(base, height)
print("The Area of a Triangle using", base, "and", height, " = ", area)